body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #A0C48D;
  /* background-image: linear-gradient(to bottom right, #A0C48D, #E2D1C3); */
  background-image: linear-gradient(to bottom right, #97bf82, #E2D1C3);
  /* background: linear-gradient(-45deg, #b4e7ed, #97bf82, #ded9b1); */
  /* background-size: 400% 400%; */
  /* animation: gradient 30s ease infinite; */
}

.paused {
  animation-play-state: paused;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  25% {
    background-position: 25% 75%
  }
  50% {
    background-position: 100% 50%
  }
  75% {
    background-position: 75% 25%
  }
  100% {
    background-position: 0% 50%
  }
}
