.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}

.heroLogo {
  border: 1px solid black;
  margin-bottom: 0.1em;
}

/* .heroLogo:hover { */
/*   box-shadow: 5px 5px black; */
/* } */

.heroH1 {
  font-size: 7em;
  margin: 0;
  /* text-shadow: 0 0 5px rgba(217,222,184, 0.4), 0 0 15px rgba(217,222,184, 0.4), 0 0 20px rgba(217,222,184, 0.4), 0 0 40px rgba(217,222,184, 0.4), 0 0 60px rgba(109,173,120, 0.4), 0 0 10px rgba(217,222,184, 0.4), 0 0 98px rgba(109,173,120, 0.4); */
  color: #d9deb8;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-weight: 900;
  font-size: 3.5em;
  text-transform: uppercase;
  color: #1E3612;
  margin-bottom: 0.2em;
  color: #d9deb8;
  color: #8e9e92;
}

.heroPara {
  font-size: 1.3em;
  margin-bottom: 1.7em;
  color: #8e9e92;
}

.heroForm {
  padding: 0;
  margin-top: 0.5em;
  display: flex;
}

.heroEmail {
  height: 1.3em;
  padding: 15px 25px;
  border: 1.5px solid black;
  border-radius: 5px;
  font-size: 1em;
  width: 20vw;
  background-color: #b8d1be;
}

.heroEmail:focus {
  outline: none;
  background-color: #d9deb8;
}

.heroEmail:hover {
  background-color: #d9deb8;
}

.heroSubmit {
  padding: 15px 23px;
  margin-left: 1.5em;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: #1E3612;
  color: #1e3612;
  font-size: 1em;
  font-weight: 500;
  background-color: #0C7938;
}

.heroSubmit:hover {
  background-color: #bfab4e;
}

 @media only screen and (max-width: 600px) {
  .heroTitle {
    text-align: center;
  }
}
