.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15vh;
}

.heroLogo {
  border: 1px solid black;
  margin-bottom: 1em;
}

.heroLogo:hover {
  box-shadow: 5px 5px black;
}

.heroTitle {
  font-weight: 900;
  font-size: 4.4em;
  text-transform: uppercase;
  color: #1E3612;
  margin-bottom: 0.4em;
}

.heroPara {
  font-size: 1.2em;
}

.heroForm {
  margin-top: 0.5em;
  display: flex;
}

.heroEmail {
  height: 1.3em;
  padding: 10px 20px;
  margin-right: 0.5em;
  border: 1.5px solid black;
  border-radius: 0;
  font-size: 1em;
}

.heroEmail:focus {
  outline: none;
  box-shadow: 4px 4px;
}

.heroEmail:hover {
  box-shadow: 4px 4px;
}

.heroSubmit {
  padding: 10px 20px;
  margin-left: 0.5em;
  border: 1.5px solid black;
  border-radius: 0;
  background-color: #1E3612;
  color: #d9deb8;
  font-size: 1em;
}

.heroSubmit:hover {
  box-shadow: 4px 4px #000;

}
