.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}

.heroLogo {
  border: 0px solid black;
  margin-bottom: 0.1em;
}

.heroH1 {
  font-size: 7em;
  margin: 0;
  color: #1E3612;
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-weight: 900;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.2em;
  color: #4a5e40;
}

.heroPara {
  font-size: 1.3em;
  margin-bottom: 1.7em;
  color: #444a41;
}

.heroForm {
  padding: 0;
  margin-top: 0.5em;
  display: flex;
}

.heroEmail {
  height: 1.3em;
  padding: 15px 25px;
  border: 2px solid #1e3612;
  border-radius: 5px;
  font-size: 1em;
  width: 20vw;
  background-color: #9cab96;
  transition: all .2s ease-in-out;
}

.heroEmail:focus {
  transform: scale(1.03);
  outline: none;
  background-color: #aec9a1;
}

.heroEmail:hover {
  transform: scale(1.03);
  background-color: #aec9a1;
}

.heroSubmit {
  padding: 15px 23px;
  margin-left: 1.5em;
  border: 2px solid #1e3612;
  border-radius: 5px;
  color: #1e3612;
  font-size: 1em;
  font-weight: 500;
  background-color: #668756;
  transition: all .2s ease-in-out;
}

.heroSubmit:hover {
  transform: scale(1.08);
  color: #668756;
  background-color: #1e3612;
}

.modalP {
	padding-top: 10px;
	color: #C7EEB7;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.modalPic {
	text-align: center;
	margin: 0 auto;
}

/* responsive */

@media only screen and (max-width: 600px) {
  .heroTitle {
    font-size: 2em;
  }

  .heroPara {
    font-size: 1.1em;
  }

  .heroH1 {
    font-size: 4em;
  }

  .heroEmail {
    width: 30vw;
  }
}
