.aside {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 35%;
  text-align: center;
}

.socialsList {
  display: inline-block;
  list-style-type: none;
  margin-right: 11em;
  font-size: 1.2em;
}

.socialsList li {
  margin: 1.5em 0;
  transition: all .2s ease-in-out;
}

.socialsList li:hover {
  transform: scale(1.3);
}

.socialsList a {
  text-decoration: none;
  color: black;
}

