.aside {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.socialsList {
  display: inline-block;
  list-style-type: none;
  font-size: 1.2em;
  margin-top: 8em;
}

.socialsList li {
  display: inline-block;
  margin: 0 1.5em;
  transition: all .2s ease-in-out;
}

.socialsList li:hover {
  transform: scale(1.3);
}

.socialsList a {
  text-decoration: none;
  color: black;
}

/* responsive */

@media only screen and (max-width: 600px) {
  .socialsList li {
    transition: none;
    transform: scale(0.9);
  }
}
