.aside {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 35%;
  text-align: center;
}

.socialsList {
  display: inline-block;
  list-style-type: none;
  margin-right: 11em;
  font-size: 1.2em;
}

.socialsList li {
  margin: 1.3em 0;
}

.socialsList a {
  text-decoration: none;
  color: black;
}


